footer {
    box-sizing: border-box;
    align-items: center;
    background-image: url('../assets/svg/pattern-hills.svg');
    background-position: center;
    background-size: auto;
    bottom: 0;
    display: flex;
    height: 12rem;
    justify-content: center;
    position: absolute;
    width: 100%;

    & a {
        height: 1.5625rem;
        margin-top: 4.375rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 1.5625rem;

        &:nth-child(1) {
            background-image: url('../assets/svg/icon-facebook.svg');
        }
        &:nth-child(2) {
            background-image: url('../assets/svg/icon-pinterest.svg');
            margin-left: 2.25rem;
            margin-right: 2.25rem;
        }
        &:nth-child(3) {
            background-image: url('../assets/svg/icon-instagram.svg');
        }

        &:hover {
            transition: 150ms ease-in-out;
            filter: brightness(.8) sepia(.9) hue-rotate(-60deg) saturate(5);
        }
    }
}
