*, *:visited {
    box-sizing: border-box;
    color: inherit;
    font-family: 'Red Hat Text', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    background-color: rgb(32, 29, 37);
    background-image: url('../assets/svg/bg-stars.svg');
    color: $col-GrayishBlue;
    text-align: center;
    height: 100%;
}

body {
    height: 100%;
}

#root {
    position: relative;
    min-height: 100%;
    padding-bottom: 12rem;
}

.container {
    padding-bottom: 3.125rem;
}
