.timer {
     align-items: center;
     display: flex;
     justify-content: space-evenly;
     max-width: 23.75rem;
     min-width: 50rem;
     margin: auto;

     &__in {
          display: flex;
          flex-direction: column;
          font-size: .5em; // fix this app breaker!
          letter-spacing: .4em;
          text-transform: uppercase;

          & p {
               margin-top: 0.625rem;
          }
     }
     
     &__front {
          display: flex;
          flex-direction: column;
          box-shadow: 0rem .4rem 0rem $col-VeryDarkerBlue;
          border-radius: 0.625rem;
          
          & p {
               font-weight: bold;
               line-height: 1em;
               color: $col-SoftRed;
               font-size: 4.5em;
               letter-spacing: 0;
               text-align: center;
               margin: 0;
          }

          &--top {
               filter: brightness(.85);
               background-color: $col-DarkDesaturatedBlue;
               border-radius: 0.375rem;
               border-bottom: 1px solid $col-VeryDarkerBlue;
               overflow: hidden;

               @include timeNumberWidth;
               @include timeNumberHeight;

               & p {
                    text-align: center;
                    font-weight: bold;
                    transform: translateY(1.2rem);
               }
          }

          &--bot { // unfolds
               translate: 0 -100%;
               background-color: $col-DarkDesaturatedBlue;
               border-radius: 0.375rem;
               overflow: hidden;
               transform-origin: bottom;

               
               @include timeNumberWidth;
               @include timeNumberHeight;
               
               & p {
                    text-align: center;
                    font-weight: bold;
                    transform: translateY(1.3rem) rotateX(-180deg);
               }
          }
     }
     
     &__old {
          position: absolute;
          display: flex;
          flex-direction: column;
          
          & p {
               font-weight: bold;
               line-height: 1em;
               color: $col-SoftRed;
               font-size: 4.5em;
               letter-spacing: 0;
               text-align: center;
               margin: 0;
          }
          
          &--top { // folds
               filter: brightness(.85);
               translate: 0 0%;
               background-color: $col-DarkDesaturatedBlue;
               border-radius: 0.375rem;
               border-bottom: 1px solid $col-VeryDarkerBlue;
               overflow: hidden;
               transform-origin: bottom;
               
               @include timeNumberWidth;
               @include timeNumberHeight;
               
               & p {
                    text-align: center;
                    font-weight: bold;
                    transform: translateY(1.2rem);
               }
          }

          &--bot {
               background-color: $col-DarkDesaturatedBlue;
               border-radius: 0.375rem;
               overflow: hidden;
               
               @include timeNumberWidth;
               @include timeNumberHeight;

               & p {
                    text-align: center;
                    font-weight: bold;
                    transform: translateY(-1.15rem);
               }
          }
     }
}

@media screen and (min-width: $desktop) {
     .timer {
          max-width: 60rem;

          &__in {
               
               letter-spacing: 1em;
               & p {
                    font-size: 1rem;
               }
          }

          &__front {
               border-radius: 1.2rem;
               box-shadow: 0rem .6rem 0rem $col-VeryDarkerBlue;

               & p {
                    font-size: 5rem;
               }
               &--top {
                    border-radius: 0.8rem;
                    & p {
                         transform: translateY(2rem);
                    }
               }
               &--bot {
                    border-radius: 0.8rem;
                    & p {
                         transform: translateY(2.62rem) rotateX(-180deg);
                    }
               }
          }
          &__old {
               & p {
                    font-size: 5rem;
               }
               &--top{
                    border-radius: 0.8rem;
                    & p {
                         transform: translateY(2rem);
                    }
               }
               &--bot {
                    border-radius: 0.8rem;
                    & p {
                         transform: translateY(-2.82rem);
                    }
               }
          }
     }
}
