.timer {
     align-items: center;
     display: flex;
     justify-content: space-evenly;

     &__in {
          display: flex;
          flex-direction: column;
          font-size: .5em;
          letter-spacing: .4em;
          text-transform: uppercase;
          width: 4.6875rem;

          & p {
               margin-top: 0.625rem;
          }
     }
     
     &__front {
          display: flex;
          flex-direction: column;
          box-shadow: 0rem 0.1875rem 0rem $col-VeryDarkerBlue;
          border-radius: 0.625rem;
          
          & p {
               font-weight: bold;
               line-height: 1em;
               color: $col-SoftRed;
               font-size: 4.5em;
               letter-spacing: 0;
               text-align: center;
               margin: 0;
          }

          &--top {
               filter: brightness(.85);
               background-color: $col-DarkDesaturatedBlue;
               border-radius: 0.375rem;
               height: 2.4rem;
               overflow: hidden;

               & p {
                    font-weight: bold;
                    transform: translateY(50%);
               }
          }

          &--bot { // unfolds
               translate: 0 -100%;
               background-color: $col-DarkDesaturatedBlue;
               border-radius: 0.375rem;
               height: 2.4rem;
               overflow: hidden;
               transform-origin: bottom;
               
               & p {
                    font-weight: bold;
                    transform: translateY(60%) rotateX(-180deg);
               }
          }
     }
     
     &__old {
          position: absolute;
          display: flex;
          flex-direction: column;
          width: 4.6875rem;
          
          & p {
               font-weight: bold;
               line-height: 1em;
               color: $col-SoftRed;
               font-size: 4.5em;
               letter-spacing: 0;
               text-align: center;
               margin: 0;
          }
          
          &--top { // folds
               filter: brightness(.85);
               translate: 0 0%;
               background-color: $col-DarkDesaturatedBlue;
               border-radius: 0.375rem;
               height: 2.4rem;
               overflow: hidden;
               transform-origin: bottom;
               
               & p {
                    font-weight: bold;
                    transform: translateY(55%);
               }
          }

          &--bot {
               background-color: $col-DarkDesaturatedBlue;
               border-radius: 0.375rem;
               height: 2.4rem;
               overflow: hidden;
               
               & p {
                    font-weight: bold;
                    transform: translateY(-50%);
               }
          }
     }
}
