.timer {
     align-items: center;
     display: flex;
     justify-content: space-evenly;

     &__in {
          display: flex;
          flex-direction: column;
          font-size: .5em;
          letter-spacing: .4em;
          text-transform: uppercase;
          width: 75px;

          & p {
               margin-top: 10px;
          }
     }
     
     &__front {
          display: flex;
          flex-direction: column;
          
          & p {
               line-height: 1em;
               color: $col-SoftRed;
               font-size: 4.5em;
               letter-spacing: 0;
               text-align: center;
               margin: 0;
          }

          &--top {
               filter: brightness(.85);
               background-color: $col-DarkDesaturatedBlue;
               border-radius: 6px;
               height: 2.4rem;
               overflow: hidden;
               z-index: -1;

               & p {
                    transform: translateY(50%);
               }
          }

          &--bot {
               translate: 0 -100%;
               background-color: $col-DarkDesaturatedBlue;
               border-radius: 6px;
               height: 2.4rem;
               overflow: hidden;
               transform-origin: bottom;
               
               & p {
                    transform: translateY(60%) rotateX(-180deg);
               }
          }
     }
     
     &__old {
          display: flex;
          flex-direction: column;
          translate: 0 -100%;
          
          & p {
               line-height: 1em;
               color: $col-SoftRed;
               font-size: 4.5em;
               letter-spacing: 0;
               text-align: center;
               margin: 0;
          }
          
          &--top {
               filter: brightness(.85);
               translate: 0 0%;
               background-color: $col-DarkDesaturatedBlue;
               border-radius: 6px;
               height: 2.4rem;
               overflow: hidden;
               transform-origin: bottom;
               
               & p {
                    transform: translateY(55%);
               }
          }

          &--bot {
               background-color: $col-DarkDesaturatedBlue;
               border-radius: 6px;
               height: 2.4rem;
               overflow: hidden;
               z-index: -1;
               
               & p {
                    transform: translateY(-50%);
               }
          }
     }
}

// flip animation

@keyframes flip {
     0% {
          z-index: 0;
          transform: rotateX(0deg);
     }
     100% {
          z-index: 1;
          transform: rotateX(180deg);
     }
}

.unfold {
     transform-style: preserve-3d;
     animation-name: flip;
     animation-duration: 1s;
     animation-play-state: running;
}

.fold {
     transform-style: preserve-3d;
     animation-name: flip;
     animation-duration: 1s;
     animation-play-state: running;
}
