// Primary Colors

$col-GrayishBlue: rgb(132, 134, 169);
$col-SoftRed: rgb(251, 96, 135);

// Neutral Colors

$col-White: rgb(255, 255, 255);
$col-DarkDesaturatedBlue: rgb(52, 54, 80);
$col-VeryDarkBlue: rgb(30, 31, 41);
$col-VeryDarkerBlue: rgb(25, 26, 36);
