@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
@-webkit-keyframes unfold {
  0% {
    z-index: 0;
    transform: rotateX(0deg);
  }
  15% {
    transform: rotateX(90deg);
    z-index: 1;
  }
  30% {
    transform: rotateX(180deg);
  }
  40% {
    transform: rotateX(130deg);
  }
  45% {
    transform: rotateX(120deg);
  }
  50% {
    transform: rotateX(130deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  70% {
    transform: rotateX(160deg);
  }
  100% {
    z-index: 1;
    transform: rotateX(180deg);
  }
}
@keyframes unfold {
  0% {
    z-index: 0;
    transform: rotateX(0deg);
  }
  15% {
    transform: rotateX(90deg);
    z-index: 1;
  }
  30% {
    transform: rotateX(180deg);
  }
  40% {
    transform: rotateX(130deg);
  }
  45% {
    transform: rotateX(120deg);
  }
  50% {
    transform: rotateX(130deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  70% {
    transform: rotateX(160deg);
  }
  100% {
    z-index: 1;
    transform: rotateX(180deg);
  }
}
@-webkit-keyframes fold {
  0% {
    z-index: 1;
    transform: rotateX(0deg);
  }
  15% {
    transform: rotateX(90deg);
    z-index: 0;
  }
  30% {
    transform: rotateX(180deg);
  }
  40% {
    transform: rotateX(130deg);
  }
  45% {
    transform: rotateX(120deg);
  }
  50% {
    transform: rotateX(130deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  70% {
    transform: rotateX(160deg);
  }
  100% {
    z-index: 0;
    transform: rotateX(180deg);
  }
}
@keyframes fold {
  0% {
    z-index: 1;
    transform: rotateX(0deg);
  }
  15% {
    transform: rotateX(90deg);
    z-index: 0;
  }
  30% {
    transform: rotateX(180deg);
  }
  40% {
    transform: rotateX(130deg);
  }
  45% {
    transform: rotateX(120deg);
  }
  50% {
    transform: rotateX(130deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  70% {
    transform: rotateX(160deg);
  }
  100% {
    z-index: 0;
    transform: rotateX(180deg);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 100%;
  }
  30% {
    opacity: 20%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes fade {
  0% {
    opacity: 100%;
  }
  30% {
    opacity: 20%;
  }
  100% {
    opacity: 0%;
  }
}
.fade {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.unfold {
  transform-style: preserve-3d;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: unfold;
          animation-name: unfold;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.fold {
  transform-style: preserve-3d;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: fold;
          animation-name: fold;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

*, *:visited {
  box-sizing: border-box;
  color: inherit;
  font-family: "Red Hat Text", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  background-color: rgb(32, 29, 37);
  background-image: url("../assets/svg/bg-stars.svg");
  color: rgb(132, 134, 169);
  text-align: center;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  position: relative;
  min-height: 100%;
  padding-bottom: 12rem;
}

.container {
  padding-bottom: 3.125rem;
}

header {
  padding-bottom: 4rem;
  padding-top: 10rem;
}
header div {
  width: 70%;
  margin: auto;
}
header div h1 {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.timer {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.timer__in {
  display: flex;
  flex-direction: column;
  font-size: 0.5em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  width: 4.6875rem;
}
.timer__in p {
  margin-top: 0.625rem;
}
.timer__front {
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0.1875rem 0rem rgb(25, 26, 36);
  border-radius: 0.625rem;
}
.timer__front p {
  font-weight: bold;
  line-height: 1em;
  color: rgb(251, 96, 135);
  font-size: 4.5em;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}
.timer__front--top {
  filter: brightness(0.85);
  background-color: rgb(52, 54, 80);
  border-radius: 0.375rem;
  height: 2.4rem;
  overflow: hidden;
}
.timer__front--top p {
  font-weight: bold;
  transform: translateY(50%);
}
.timer__front--bot {
  translate: 0 -100%;
  background-color: rgb(52, 54, 80);
  border-radius: 0.375rem;
  height: 2.4rem;
  overflow: hidden;
  transform-origin: bottom;
}
.timer__front--bot p {
  font-weight: bold;
  transform: translateY(60%) rotateX(-180deg);
}
.timer__old {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 4.6875rem;
}
.timer__old p {
  font-weight: bold;
  line-height: 1em;
  color: rgb(251, 96, 135);
  font-size: 4.5em;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}
.timer__old--top {
  filter: brightness(0.85);
  translate: 0 0%;
  background-color: rgb(52, 54, 80);
  border-radius: 0.375rem;
  height: 2.4rem;
  overflow: hidden;
  transform-origin: bottom;
}
.timer__old--top p {
  font-weight: bold;
  transform: translateY(55%);
}
.timer__old--bot {
  background-color: rgb(52, 54, 80);
  border-radius: 0.375rem;
  height: 2.4rem;
  overflow: hidden;
}
.timer__old--bot p {
  font-weight: bold;
  transform: translateY(-50%);
}

footer {
  box-sizing: border-box;
  align-items: center;
  background-image: url("../assets/svg/pattern-hills.svg");
  background-position: 123rem;
  background-size: cover;
  bottom: 0;
  display: flex;
  height: 12rem;
  justify-content: center;
  position: absolute;
  width: 100%;
}
footer a {
  height: 1.5625rem;
  margin-top: 4.375rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5625rem;
}
footer a:nth-child(1) {
  background-image: url("../assets/svg/icon-facebook.svg");
}
footer a:nth-child(2) {
  background-image: url("../assets/svg/icon-pinterest.svg");
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}
footer a:nth-child(3) {
  background-image: url("../assets/svg/icon-instagram.svg");
}/*# sourceMappingURL=style.css.map */